.host-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.host-name{
    @include font-styling(500, 18px, $kasa-red);
    width: min-content;
    text-align: right;
    margin: 0;

    @include tablet-size{
        font-size: 16px;
        line-height: 100%;
        margin: 0;
    }
    @include phone-size{
        font-size: 12px;
        line-height: 17px;
    }
}

.host-img{
    width: 64px;
    height: 64px;
    border-radius: 30px;
    @include tablet-size{
        width: 48px;
        height: 48px;
        border-radius: 32px;   
    }
    @include phone-size {
        width: 32px;
        height: 32px;
        border-radius: 16px;       
    }
}