footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 210px;
    gap: 30px;

}

footer p {

    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;

    color: #FFFFFF;
    margin: 0;
    padding: 0;
}


/* MEDIA QUERIES TABLET */

@media screen and (max-width: 991px) {}

/* MEDIA QUERIES MOBILE */

@media screen and (max-width: 767px) {
    footer p{
        font-size: 12px;
  }
}



