.error-title {
    font-weight: 700;
    font-size: 288px;
    line-height: 142.6%;
    color: #FF6060;
    text-align: center;
    padding: 0;
    margin: 169px 0 0 0;

    @include phone-size {
        font-size: 96px;
    }
}

.error-message {
    @include font-styling (500, 36px, $kasa-red);
    text-align: center;
    padding: 0;
    margin: 66px 0 0 0;

    @include phone-size {
        font-size: 18px;
        margin: 12px 40px;
    }
}

.error-link {
    @include font-styling (500, 18px, $kasa-red);
    text-decoration: underline;
    text-align: center;
    margin: 182px 0 0 0;

    @include phone-size {
        font-size: 14px;
    }

    a:visited {
        color: inherit;
    }
}